@using web_FE.Models 
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adidas</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>
    @{
        var user = Session["user"] as User;
    }
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <span>ƯU ĐÃI THÀNH VIÊN - MIỄN PHÍ VẬN CHUYỂN TOÀN QUỐC</span>
            </div>
            <div class="top-bar-right">
                <a href="#">Trợ giúp</a>
                <a href="@Url.Action("Orders", "Account")">Đơn hàng của tôi</a>

                @if (user != null) // Nếu đã đăng nhập
                {
                    <a href="@Url.Action("Account", "Account")">Xin chào, @user.Name</a>
                    <a href="@Url.Action("Logout", "Account")">Đăng xuất</a>
                }
                else // Nếu chưa đăng nhập
                {
                    <a href="@Url.Action("Login", "Account")">Đăng ký/Đăng nhập</a>
                }
            </div>
        </div>
    </div>
    <header>
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">
                <img src="https://i.ibb.co/DD0jKKPk/vecteezy-adidas-logo-black-symbol-clothes-design-icon-abstract-10994239.jpg" alt="Adidas Logo">
            </a>
        </div>

        <nav class="main-menu">
             <ul>
                <li>@Html.ActionLink("Trang Chủ", "Index", "Home")</li>

                <li class="has-megamenu">
                    <a href="#">Giày</a>
                    <div class="mega-menu">
                        <div class="mega-menu-inner">
                            <div class="mega-menu-column">
                                <h4>Nổi Bật</h4>
                                <ul>
                                    <li><a href="#">Hàng Mới Về</a></li>
                                    <li><a href="#">Sản phẩm bán chạy</a></li>
                                    <li><a href="#">Độc quyền hội viên</a></li>
                                </ul>
                            </div>
                            <div class="mega-menu-column">
                                <h4>Phong Cách</h4>
                                <ul>
                                    <li><a href="#">Samba</a></li>
                                    <li><a href="#">Gazelle</a></li>
                                    <li><a href="#">Superstar</a></li>
                                    <li><a href="#">Stan Smith</a></li>
                                    <li><a href="#">Forum</a></li>
                                </ul>
                            </div>
                            <div class="mega-menu-column">
                                <h4>Thể Thao</h4>
                                <ul>
                                    <li><a href="#">Chạy bộ</a></li>
                                    <li><a href="#">Bóng đá</a></li>
                                    <li><a href="#">Tập luyện</a></li>
                                    <li><a href="#">Bóng rổ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="has-megamenu">
                    <a href="#">Nam</a>
                    <div class="mega-menu">
                        <div class="mega-menu-inner">
                            <div class="mega-menu-column">
                                <h4>Nổi Bật</h4>
                                <ul>
                                    <li><a href="#">Hàng Mới Về (Nam)</a></li>
                                    <li><a href="#">Best Sellers</a></li>
                                </ul>
                            </div>
                            <div class="mega-menu-column">
                                <h4>Giày Nam</h4>
                                <ul>
                                    <li><a href="#">Originals</a></li>
                                    <li><a href="#">Bóng đá</a></li>
                                    <li><a href="#">Chạy bộ</a></li>
                                </ul>
                            </div>
                            <div class="mega-menu-column">
                                <h4>Phụ Kiện Nam</h4>
                                <ul>
                                    <li><a href="#">Tất Cả Túi</a></li>
                                    <li><a href="#">Tất</a></li>
                                    <li><a href="#">Mũ Lưỡi Trai & Đội Đầu</a></li>
                                </ul>
                            </div>
                            <div class="mega-menu-column">
                                <h4>Thể Thao Nam</h4>
                                <ul>
                                    <li><a href="#">Bóng đá</a></li>
                                    <li><a href="#">Chạy</a></li>
                                    <li><a href="#">Tập luyện</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="has-megamenu">
                    <a href="#">Nữ</a>
                    <div class="mega-menu">
                        <div class="mega-menu-inner">
                            <div class="mega-menu-column">
                                <h4>Nổi Bật</h4>
                                <ul>
                                    <li><a href="#">Hàng Mới Về (Nữ)</a></li>
                                    <li><a href="#">Độc quyền hội viên</a></li>
                                </ul>
                            </div>
                            <div class="mega-menu-column">
                                <h4>Giày Nữ</h4>
                                <ul>
                                    <li><a href="#">Originals</a></li>
                                    <li><a href="#">Sneakers</a></li>
                                    <li><a href="#">Chạy bộ</a></li>
                                </ul>
                            </div>
                            <div class="mega-menu-column">
                                <h4>Phụ Kiện Nữ</h4>
                                <ul>
                                    <li><a href="#">Tất Cả Túi</a></li>
                                    <li><a href="#">Tất</a></li>
                                    <li><a href="#">Mũ Lưỡi Trai & Đội Đầu</a></li>
                                </ul>
                            </div>
                            <div class="mega-menu-column">
                                <h4>Thể Thao Nữ</h4>
                                <ul>
                                    <li><a href="#">Chạy</a></li>
                                    <li><a href="#">Tập luyện</a></li>
                                    <li><a href="#">Tập Yoga</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>

                <li><a href="#">Liên Hệ</a></li>
            </ul>
        </nav>

        <div class="header-right">
            <div class="search-container">
                <input type="text" id="search-input" placeholder="Tìm kiếm sản phẩm...">
                <button id="search-button"><i class="fa fa-search"></i></button>
            </div>
            <div class="cart">
                <a href="@Url.Action("Cart", "Home")"> <i class="fas fa-shopping-cart"></i>
                    <span class="cart-count">0</span>
                </a>
            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="footer-promo">
                <h3>TRỞ THÀNH HỘI VIÊN & HƯỞNG ƯU ĐÃI 10%</h3>
                <a href="#" class="btn-promo">ĐĂNG KÝ MIỄN PHÍ &rarr;</a>
            </div>

            <div class="footer-main">
                <div class="footer-column">
                    <h4>SẢN PHẨM</h4>
                    <ul>
                        <li><a href="#">Giày</a></li>
                        <li><a href="#">Quần áo</a></li>
                        <li><a href="#">Phụ kiện</a></li>
                        <li><a href="#">Hàng Mới Về</a></li>
                        <li><a href="#">Release Dates</a></li>
                        <li><a href="#">Top Sellers</a></li>
                        <li><a href="#">Member exclusives</a></li>
                        <li><a href="#">Outlet</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>THỂ THAO</h4>
                    <ul>
                        <li><a href="#">Chạy</a></li>
                        <li><a href="#">Đánh gôn</a></li>
                        <li><a href="#">Gym & Training</a></li>
                        <li><a href="#">Bóng đá</a></li>
                        <li><a href="#">Bóng Rổ</a></li>
                        <li><a href="#">Quần vợt</a></li>
                        <li><a href="#">Ngoại trời</a></li>
                        <li><a href="#">Bơi lội</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>BỘ SƯU TẬP</h4>
                    <ul>
                        <li><a href="#">Originals</a></li>
                        <li><a href="#">Ultraboost</a></li>
                        <li><a href="#">Pureboost</a></li>
                        <li><a href="#">Predator</a></li>
                        <li><a href="#">Superstar</a></li>
                        <li><a href="#">Stan Smith</a></li>
                        <li><a href="#">NMD</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>THÔNG TIN VỀ CÔNG TY</h4>
                    <ul>
                        <li><a href="#">Giới Thiệu Về Chúng Tôi</a></li>
                        <li><a href="#">Cơ Hội Nghề Nghiệp</a></li>
                        <li><a href="#">Tin tức</a></li>
                        <li><a href="#">adidas stories</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h4>HỖ TRỢ</h4>
                    <ul>
                        <li><a href="#">Trợ Giúp</a></li>
                        <li><a href="#">Công cụ tìm kiếm cửa hàng</a></li>
                        <li><a href="#">Biểu Đồ Kích Cỡ</a></li>
                        <li><a href="#">Thanh toán</a></li>
                        <li><a href="#">Giao Hàng</a></li>
                        <li><a href="#">Trả Hàng & Hoàn Tiền</a></li>
                        <li><a href="#">khuyến mãi</a></li>
                        <li><a href="#">Trợ Giúp Dịch Vụ Khách Hàng</a></li>
                        <li><a href="#"><img src="https://i.ibb.co/rRZ5YSzT/logo-congthuong.png" alt="Đã Thông Báo Bộ Công Thương" class="bct-logo"></a></li>
                    </ul>
                </div>
                <div class="footer-column social-media-column">
                    <h4>THEO DÕI CHÚNG TÔI</h4>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-pinterest"></i></a>
                        <a href="#"><i class="fab fa-tiktok"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>

            <div class="footer-legal">
                <p>&copy; @DateTime.Now.Year - AD-Store. All Rights Reserved.</p>
                <ul>
                    <li><a href="#">Cài Đặt Cookie</a></li>
                    <li><a href="#">Chính sách Bảo mật</a></li>
                    <li><a href="#">Điều khoản và Điều kiện</a></li>
                    <li><a href="#">Xuất bản bởi AD-Store</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.7.0.min.js"></script> <script src="~/Scripts/custom.js"></script>
</body>
</html>